@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: 'roboto';
}

.hh-header {
    background-color: #525252;
}

.navMenu ul li a {
    font-size: 17px;
    color: #FFFFFF;
}

.header-link-border-non {
    margin-right: 30px !important;
}

.navMenu ul li a:hover {
    color: white;
}

nav a {
    font-weight: normal;
    font-style: normal;
    color: #f1f1f1 !important;
}

header nav {
    background: rgba(82,82,82,0.8);
    width: 100%;
}

header .white-logo-transparent-background {
    width: 73px;
    height: 54px;
}

.header-link-border {
    border: 1px solid white;
    border-radius: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-items: center;
    background-color: #29626D;
    margin-right: 10px;
}

.header-link-border-non-price {
    border: 1px solid white;
    border-radius: 50px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-items: center;
    margin-right: 10px;
}



.about-banner {
    background-image: url('../images/about-banner.png');
    width: 100%;
    height: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1.8px;
    padding-top: 10px;
}

.about-us-header {
    font-size: 35.95px;
    color: #4F4F4F;
    margin-top: 31px;
}

.about-us-border-1 {
    width: 5%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    border-color: #CCCCCC;
}

.A-Few-words-about-us-p {
    font-size: 16px;
    color: #646464;
}

#A-few-p-1 {
    margin-top: 35px;
}

#A-few-p-2 {
    margin-top: 30px;
}

.Our-story-p {
    font-size: 16px;
    color: #646464;
}

#Our-story-p-1 {
    margin-top: 35px;
}

#Our-story-p-2 {
    margin-top: 30px;
}

#our-story-header {
    margin-top: 65px;
    font-size: 35.95px;
    color: #4F4F4F;
}

.newsletterHeader {
    font-size: 17px;
    color: #353548;
    margin-bottom: 16px;
    margin-top: 45px;
    font-weight: 500;
}

.newsletterForm input {
    outline: none;
    border: 1px solid #565656;
    padding: 11px 22px 13px;
    margin-right: 11px;
    background: transparent;
    font-size: 14px;
    width: 233px;
}

#email {
    background-color: #F4F5F8;
}

.newsletterForm button {
    outline: none;
    border: none;
    background: #ff7b6d;
    color: #fff;
    padding: 11px 21px 13px 23px;
    font-size: 14px;
}


.about-footer {
    background-color: #111111;
}

.socialMedia a {
    margin-right: 20px;
}

.about-footer-hr {
    position: relative;
    color: #9BA0A3;
    background-color: #111111;
    font-size: 14px;
    text-decoration: none;
}

.footer-items a {
    color: #F1F1F1;
    font-size: 14px;
    font-family: 'Roboto';
}

.footer-privacy a {
    color: #9BA0A3;
    text-decoration: none;
}

.footer-items li {
    list-style-type: none;
}

.footer-items ul {
    display: flex;
}



    .footer-items ul li a {
        text-decoration: none;
        margin: 0px 10px;
    }


@media screen and (max-width: 1025px) {

    .footer-items ul {
        flex-direction: column;
    }

        .footer-items ul li {
            padding-top: 10px;
        }

    .header-link-border-non {
        padding-left: 20px !important;
    }

    nav ul li a {
        text-align: center;
    }

    nav ul li {
        margin-top: 10px !important;
    }
}
