.User_reg_form{
    margin-bottom:60px;
}
.contactUsForm {
    max-width: 641px;
    margin-top: 23px;
}
.Create-an-account {
    color: #4F4F4F;
    font-size: 35.95px;
    margin-top:20px;
}
.form-item {
    margin-bottom: 15px;
}

.form-control,
.form-select {
    padding: 14px 15px;
    font-size: 16px;
    color: black;
}

.submit {
    font-size: 20px;
    color: #fff;
    padding: 9px 42px;
    background: #1d7a8c;
    width: 163px;
   
    font-weight:bold;
}

.form-control::placeholder {
    color: #a0a0a0;
}

.form-check-input{
    width:20px !important;
    height:20px !important;
    margin-right:10px !important;
}
.form-check{
    display:flex;
    margin-top:10px;
    
}
.lable{
    color: #4F4F4F;
   
}
.form-check-label{
    font-size:14px !important;
    max-width:570px;
}

.span-tg {
    color: #1D7A8C;
}
.already-reg {
    color: #4F4F4F;
}
.login-tg a{
    color: #1D7A8C;
}
.login-div{
    margin-top:0px !important;
    padding-top:0px !important;
}