@{
     ViewData["Title"] = "About Page";
}
@section Link{ 
    <link rel="stylesheet" href="~/css/About.css" />
}

<main>
    <section>

        <div class=" about-banner">

        </div>


    </section>
    <section class="A-Few-words-about-us">
        <h1 class="about-us-header text-center">A Few words about us</h1>
        <div class="about-us-border d-flex justify-content-center">
            <hr class="about-us-border-1">
            <img src="~/images/blue_star.png" height="25px" width="24px">
            <hr class="about-us-border-1">

        </div>

        <div class="A-Few-words-about-us-content container col-8  justify-content-center ">
            <p class="A-Few-words-about-us-p text-center" id="A-few-p-1">
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
                quis enim orci. Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin
                tincidunt vel erat id porttitor.
                Donec tristique est arcu, sed dignissim velit vulputate ultricies
            </p>

            <p class="A-Few-words-about-us-p text-center" id="A-few-p-2">
                Interdum et malesuada fames ac ante
                ipsum primis in faucibus. In hac habitasse platea dictumst.
                Vivamus eget mauris eget nisl euismod volutpat sed sed libero. Quisque sit amet lectus ex.
                Ut semper ligula et mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum turpis.
                Donec tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac
                habitasse platea dictumst.
                Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere
                sed neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula
                placerat lorem.
            </p>


        </div>
    </section>
    <section class="Our-story">
        <h2 class=" text-center" id="our-story-header">Our Story</h2>
        <div class="about-us-border d-flex justify-content-center">
            <hr class="about-us-border-1">
            <img src="~/images/blue_star.png" height="25px" width="24px">
            <hr class="about-us-border-1">

        </div>

        <div class="Our-story-content container col-8  justify-content-center ">
            <p class="Our-story-p text-center" id="Our-story-p-1">
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum vel risus condimentum dictum.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus
                quis enim orci.
                Fusce risus lacus, sollicitudin eu magna sed, pharetra sodales libero. Proin tincidunt vel erat
                id porttitor.
                Donec tristique est arcu, sed dignissim velit vulputate ultricies.
            </p>

            <p class="Our-story-p text-center" id="Our-story-p-2">
                Interdum et malesuada fames ac ante
                ipsum primis in faucibus.
                In hac habitasse platea dictumst. Vivamus eget mauris eget nisl euismod volutpat sed sed libero.
                Quisque sit amet lectus ex. Ut semper ligula et mauris tincidunt hendrerit
            </p>

            <p class="Our-story-p text-center" id="Our-story-p-2">
                Aenean ut rhoncus orci, vel elementum turpis. Donec
                tempor aliquet magna eu fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea
                dictumst. Mauris a hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere
                sed
                neque eget, aliquam ultricies velit. Sed lacus elit, tincidunt et massa ac, vehicula placerat lorem.
            </p>



        </div>
    </section>
    

    @section Script{ 
        <script src="~/js/About.js"></script>
    }