@{
    ViewData["Title"] = "AccessDenied";
    Layout = null;
}

<div style="border:1px solid red;padding:30px;background-color:yellow;text-align:center ">
    <span style="color:red;font-size:30px;">You are not allowed to access this page</span>
</div>

