@{
     ViewData["Title"] = "FAQ";
}
@section Link{
    <link rel="stylesheet" href="~/css/Faq.css" asp-append-version="true">
}





<!-- <div class="container"> -->

<img src="~/images/faq-banner.png" class="img-fluid-lg " style="width: 100%;">
<section class="mt-5">
    <h1 class="text-center">FAQs</h1>
    <div class="d-flex justify-content-center">
        <hr style="width: 5%; color: #4f4f4f; margin-top: 30px; margin-right: 10px; height: 1px;">
        <img src="~/images/blue_star.png" style="margin-top: 14px; object-fit: contain;">
        <hr style="width: 5%;color: #4f4f4f; margin-top: 30px; margin-left: 10px; height: 1px;">
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-center align-items-stretch">


        <div class="mt-4 text-center" style="max-width: 500px;">
            <p>Whether you are Customer or Service provider,<br> We have tried our best to solve all your queries and questions.</p>
        </div>

    </div>
</section>


<section class="mt-3">
    <div class="container ">
        <div class="row mt-5 justify-content-center align-items-center d-flex ms-1">
            <!-- --content and button ------------------- -->
            <div class="justify-content-center row">
                <div class="col-4 text-center p-3 customer-main" id="customerIdFaq" style="padding: .88rem;width: 29.5rem;border-bottom: 3px solid #1d7a8c;"  ><a id="forcusID" onclick="displayCustomer();" style="color: #ffff;font-size: 24px;">FOR COUSTOMER</a></div>
                <div class="col-4 text-center p-3 " id="serProviIdfaq" onclick="displayServiceProvider()" style="padding:.8rem; width:29.5rem ;border-bottom: solid 3px #1d7a8c; "><a id="forserId" style="color: #525252;font-size: 24px;">FOR SERVICE PROVIDER</a></div>
            </div>
            <!--      -------------- content-1 ------------->
            <!--      -------------- content-2 ------------->
            @*<div class="customer-div">*@
            <div class=" pt-4   ps-0 customer-content-main-div" id="div1" style="width:59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo1" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg1()" id="img1" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo1" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

            <div class=" pt-lg-4   ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo2" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg2()" id="img2" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo2" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

            <!--      -------------- content-3 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo3" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg3()" id="img3" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo3" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

            <!--      -------------- content-4 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo4" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg4()" id="img4" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo4" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

            <!--      -------------- content-5 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo5" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg5()" id="img5" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo5" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>
            <!--      -------------- content-6 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo6" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg6()" id="img6" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo6" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>
            <!--      -------------- content-7 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo7" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg7()" id="img7" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo7" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>
            <!--      -------------- content-8 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo8" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg8()" id="img8" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo8" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>
            <!--      -------------- content-9 ------------->

            <div class=" pt-lg-4 ps-0 customer-content-main-div" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo9" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg9()" id="img9" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo9" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

             <div class=" pt-lg-4 ps-0 serviceprovider-div display-none" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo10" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg10()" id="img10" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo10" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>

             <div class=" pt-lg-4 ps-0 serviceprovider-div display-none" style="width: 59rem;">
                <div class="d-flex justify-content-center">
                    <a href="#demo11" class="c-header" data-bs-toggle="collapse"><img onclick="rotateimg11()" id="img11" src="~/images/faq_aa.png"></a>
                    <p class="" style="padding-left: .8rem; font-size: 15px; font-weight: bold; color:#646464 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisl nunc, iaculis mattis tellus ac ut non imperdiet velit?</p>
                </div>
                <div id="demo11" class="collapse justify-content-center" style="padding-left: 2rem;color:#646464">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id diam tincidunt, fringilla ante vitae,
                    dapibus velit. Vivamus id tortor rhoncus, efficitur quam at, suscipit tortor.
                    Integer fermentum convallis eros vel semper. Ut non imperdiet velit. Praesent eu dui vel lacus porta eleifend eget quis dui.
                    Integer tempus massa in gravida tincidunt. Fusce in libero tristique, euismod nisi vel, luctus urna.
                    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec et placerat arcu.
                    Suspendisse lacinia tristique massa. Etiam risus justo, scelerisque id arcu eu, sodales tempor eros.
                    Aliquam efficitur pretium urna, sit amet congue risus malesuada rutrum. Donec id massa vel velit
                    ullamcorper accumsan ut eget nisl. Fusce viverra commodo lacus, sit amet facilisis leo luctus dictum.
                </div>
            </div>
            

        </div>
    </div>
</section>
@section div{
    <div class="get-our-newsleter text-center pt-5 ">
        <h3 style="font-size: 18px; font-family: 'Roboto'; color: #353548;font-weight:f;font-weight: bold;"> GET OUR NEWSLETER</h3>
        <div class="d-flex justify-content-center d-wrap mt-3">
            <input type="text" value="YOUR EMAIL" placeholder="YOUR EMAIL " class="rounded-pill align-items-left ps-3"
                   style="width: 14.56rem;font-size: 14px;background-color: #F4F5F8; border-color: #565656;border-width: 1px;">
            <button type="submit" value="Submit" class="btn rounded-pill text-center mx-2"
                    style="background-color: #FF7B6D;font-size: 14px;color: #FFFFFF;width: 88px ;">
                Submit
            </button>
        </div>
    </div>
}

@section Script{
    <script src="~/js/Faq.js" asp-append-version="true"></script>
}