


@*------------------------models------------------------*@
    
      <div class="modal-dialog modal-dialog-centered " >
      <div class="modal-content" id="PopUpFunModal">
  
       
        <div class="modal-header">
          <button type="button" class="btn-close " data-bs-dismiss="modal" ></button>
        </div>
  
        <div class="modal-body">
        <diV class="success-icon d-flex justify-content-center">
         <img src="~/images/big-right.png"  alt="!alertIcon"/>
        </diV>
        <div class="serviceModalDivContent">

          <div>
            <div class="justify-content-center d-flex mt-3">
              <span class="alertServiceModelMessage" id="alertServiceModelMessageID">You are Successfuly Logout </span>

            </div>
           
            <div class="justify-content-center d-flex">
              <button   type="button" class="mt-2 LogoutOk serviceAlertBtn" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
        </div>
  
       
  
      </div>
    </div>
  
    