 <div class="navigation ">
                   <ul>
                    
                    <li class="li"><a class="liText" id="serviceReqID" asp-action="AdminServiceRequest" asp-controller="Admin">Service Requests</a></li>
                    <li class="li"><a class="liText" id="userManId"  asp-action="UserManagement" asp-controller="Admin">User Management</a></li>
                </ul>
            </div>