@model Helperland.ViewModels.LoginViewModel
<div class="modal fade" id="Login">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header m-head">
                <h4 class="modal-title">Login to your account</h4><br />

                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                    @Html.Raw(ViewBag.Alert)
                <form method="post" asp-action="User_Login" asp-controller="Account">
                      @Html.HiddenFor(x => x.ReturnUrl)
                    <div class="form-group mt-3">
                        <input class="form-control" asp-for="Email" placeholder="Email " />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control" asp-for="Password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-2">
                        <div class="checkbox">
                            <label>
                            <input asp-for="RememberLogin" />
                            @Html.DisplayNameFor(model => model.RememberLogin)
                            </label>
                            
                        </div>
                    </div>

                    <div class="justify-content-center d-flex  ">
                        <button type="submit" class="User_submit_btn rounded-pill mt-3 py-3">Login</button>
                    </div>


                </form>

            </div>

            <!-- Modal footer -->

            <div class="justify-content-center text-center row User_Login_Footer">
                <a class="User_forgot_Passwoord" data-bs-toggle="modal" data-bs-target="#forgot_password" data-bs-dismiss="modal"  >Forgot Password ?</a>
                @*<a class="User_forgot_Passwoord"   data-url='@Url.Action("ForgotPassword","Account")'>Forgot Password ?</a>*@

                <p>Don't have an account? <span> <a class="User_Create_Account" asp-action="User_Register" asp-controller="Account">Create an account</a></span></p>


            </div>
        </div>
    </div>
</div>