@{
    ViewData["Title"] = "CustomerService";
}
@section Link{
    <link rel="stylesheet" href="~/css/CustomerDashboard.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/fontawesome-free-6.0.0-web/css/all.css"  asp-append-version="true"/>
     <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.css" />
}

<main>
     
     <div class="serviceUserHeader container-fluid justify-align-center d-flex justify-content-center">
              <h1 class=" Welcome-user d-flex align-items-center justify-content-center flex-wrap text-break ">Welcome,
            <span class="headerUserName">Sandip!</span> </h1>
     </div>   
       

        <div class="container position-relative d-flex align-items-start justify-content-center">
            <div class="verticalNavbar d-none d-md-block">
                <ul class="verticalNavItems p-0 m-0">
                    <li class="verticalNavItem active">Dashboard</li>
                    <li class="verticalNavItem">New Service Request</li>
                    <li class="verticalNavItem ">Upcoming Services</li>
                    <li class="verticalNavItem">Service Schedule</li>
                    <li class="verticalNavItem">Service History</li>
                    <li class="verticalNavItem">My Ratings</li>
                    <li class="verticalNavItem">Block Customer</li>
                </ul>
            </div>
            <div class="serviceHistoryTableContainer">
                <div class="justify-content-between align-items-center d-flex">
                    <h2 class="tableHeader">Current Service Requests</h2>
                    <button type="button" class="export-btn"> Add New Service Request</button>
                </div>
               
                <table id="upcomingHistoryTable">
                    <thead>
                        <tr>
                            <th> <span class="th-1">Service Details</span></th>
							<th>Service Provider</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Rate SP</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                           
                                <td >
                                <div class="td-1">
                                    <div>
                                        <img src="~/images/calander.png" class="me-1"><span
                                                class="service-detail-date">31/03/2018</span>
                                    </div>
                                    <div class="service-detail-time">
                                         <img src="~/images/clock.png" class="me-1"> <span>12:00 - 18:00</span>
                                    </div>
                                </div>
                                
                                </td>

                                 <td>
                                    <div class="justify-content-start align-items-center d-flex td-2">
                                    <div>
                                        <span class="service-provider-icon rounded-circle"><img src="~/images/forma-1-copy-19.png " alt=""></span>
                                    </div>
                                    <div class="d-flex service-provider-name">
                                        <span>Lyurm Watsom</span>
                                        <div>
                                            <img src="~/images/star-filled.png">
                                            <img src="~/images/star-filled.png">
                                            <img src="~/images/star-filled.png">
                                            <img src="~/images/star-unfilled.png">
                                            <img src="~/images/star-unfilled.png">
                                        </div>
                                    </div>

                                     </div>
                                 </td>

                                <td>
                                 <span class="payment-amount">€63</span>
                                </td>
                                <td>
                                <span class="staus-of-History">Completed</span>
                                </td>

                                 <td>
                                    <button type="button" name="rate-us" class="rate-us">Rate Us</button>
                                 </td>
                          
                            
                        </tr>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>

   
</main>

@section script{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/js/CustomerDashboard.js" asp-append-version="true">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
    src="https://cdn.datatables.net/v/dt/dt-1.11.3/r-2.2.9/rg-1.1.4/datatables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
}