
         <div class="verticalNavbar d-none d-md-block me-3">
                <ul class="verticalNavItems p-0 m-0">
                    <li class="verticalNavItem " id="DashboardVerId"><a class="vertical-a-color" asp-action="CustomerDashboard" asp-controller="CustomerService">Dashboard</a></li>
                    <li id="ServiceHistoryVarId" class="verticalNavItem"  ><a class="vertical-a-color" asp-action="ServiceHistory" asp-controller="CustomerService">Service History</a></li>
                    <li class="verticalNavItem "><a>Service Scheduale</a></li>
                    <li class="verticalNavItem"><a>Favourite Pros</a></li>
                    <li class="verticalNavItem"><a>Invoices</a></li>
                    <li class="verticalNavItem"><a>Notifications</a></li>
                   
                </ul>
         </div>