@model Helperland.ViewModels.AddNewAddress
<div class=" AddressBox py-3 py-2 " id="AddressBoxId">
        <form id="AddressForm">
            <div class="row p-3 pb-0 pt-0  align-items-center justify-content-center">

                <div class=" form-item col-12 col-sm-6">
                    <label asp-for="AddressLine1"  class="form-label">Street name</label>
                    <input type="text" class="form-control" id="AddressLine1Id" placeholder="Street Name" asp-for="AddressLine1">
                    @* <span asp-validation-for="AddressLine1" class="text-danger"></span>*@
                </div>
                <div class="form-item col-12 col-sm-6">
                    <label asp-for="AddressLine2" class="form-label">House number </label>
                    <input type="text"  class="form-control" onclick="hasValue('#AddressLine2');"
                        placeholder="House number" asp-for="AddressLine2" id="AddressLine2Id">
                    @* <span asp-validation-for="AddressLine2" class="text-danger"></span>*@
                    <span id="   AddressLine2Span" class="text-danger" style="display:none">this field required</span>

                </div>
                <!-- </div> -->
                <!-- <div class="row p-3 pb-0"> -->
                <div class=" form-item col-12 col-sm-6" >
                    <label asp-for="PostalCodeAddresss" class="form-label" >Postal code</label>
                    <input type="text" disabled="disabled"  id="PostalCodeNewAddressId" class="form-control" placeholder="Enter Postal Code" asp-for="PostalCodeAddresss" >
                    @* <span asp-validation-for="PostalCodeAddresss" class="text-danger"></span>*@
                </div>
                <div class="form-item col-12 col-sm-6">
                    <label asp-for="CityAddress" class="form-label">City</label>
                    <select class="form-select" asp-for="CityAddress" id="selectCityNewAddressId">
                       @* <option value="1">Gondal</option>
                        <option value="2">Rajkot</option>*@
                    </select>
                    @* <span asp-validation-for="CityAddress" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row p-3 pb-4">
                <div class="col-lg-6 ">
                    <div class="group-input">
                        <label asp-for="MobileAddress" class="form-label">Phone number</label>
                        <div class="input-group " >
                            <span class="input-group-addon">+49</span>
                            <input type="text" id="MobilenumNewAddressId" class="form-control inputPostalCode" asp-for="MobileAddress" >
                        </div>
                        @*<span asp-validation-for="MobileAddress" class="text-danger"></span>*@
                    </div>

                </div>
            </div>



            <div class="ps-3">
                <button type="button" class="AddressSave d-felx " onclick="submitAddress()">Save</button>
                <button type="button" class="AddressCancle" id="AddressCancleId">Cancle</button>
            </div>

        </form>
    </div>