@*------------------------models------------------------*@
 <div class="modal fade" id="ServiceReqAlert">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
       
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
        <diV class="success-icon">
          <i class="fa-solid fa-circle-check fa-lg" style="background: white;color: rgba(29, 201, 29, 0.849);"></i>
        </diV>
        <div class=" serviceModalDivContent    ">

          <div>
            <div class="justify-content-center d-flex mt-3">
              <span class="alertServiceModelMessage" id="alertServiceModelMessageID"> </span>

            </div>
           @* <div class="justify-content-center d-flex">
              <span class="alertServiceModelMessage"> </span> 
            </div>*@
            <span class="justify-content-center d-flex mt-3 serviceReqAlertIdSpan">Service RequestId:<span id="alertServiceReqID"></span></span>
            <div class="justify-content-center d-flex">
              <button  type="button" class="mt-2 serviceAlertBtn" data-bs-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
        </div>
  
       
  
      </div>
    </div>
  </div>